@font-face {
  font-family: 'SegoeUI';
  font-weight: 100 700;
  src: url('../fonts/SegoeUI-Roman-VF_web.woff2') format('woff2'),
       url('../fonts/SegoeUI-Roman-VF_web.woff') format('woff'),
       url('../fonts/SegoeUI-Roman-VF_web.ttf') format('ttf');
}